<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"  
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
		lang="en"	>
	
	<body th:fragment="inputDiv">			
		<div th:class="${#fields.hasErrors(fieldName)} ? 'control-group error' : 'control-group'">
			<label class="control-label" th:text="${label}">Label</label>
			<div class="controls">
				<input th:type="${fieldType}" th:field="*{field}" th:placeholder="${placeholder==null}?'':${placeholder}"/>  
				<span th:errors="*{field}" class="help-inline" th:if="${#fields.hasErrors(fieldName)}">error</span>
			</div>
		</div>
	</body>

</html>
	
